:root {
    --space-cadet: #222e50;
    --cerulean: #007991;
    --azure-web: #cddddd;
    --bright-pink-crayola: #ed6e85;
    --cardinal: #bb2532;
    --navBar-height: 7vh;
}

body {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    overflow: hidden;
}

.computerBody {
    width: 450px;
    height: 249px;
    border-radius: 20px;
    background-color: #A8BABA;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.computerScreen {
    width: 416px;
    height: 220px;
    border-radius: 20px;

    background-color: #007991;
}