:root {
    --space-cadet: #222e50ff;
    --cerulean: #007991ff;
    --azure-web: #cdddddff;
    --bright-pink-crayola: #ed6e85ff;
    --cardinal: #bb2532ff;
}

h1 {
    color: var(--indigo-dye);
}

.bentoBox {
    display: grid;
    grid-template-columns: minmax(100px, auto);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.one {
    grid-column: 1;
    grid-row: 1;
    background-color: blueviolet;
}

.two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    background-color: blueviolet;
    opacity: 100%;
}

.three {
    grid-column: 1;
    grid-row: 2 / 5;
    background-color: blueviolet;
}

.four {
    grid-column: 3;
    grid-row: 3;
    background-color: blueviolet;
}

.five {
    grid-column: 2;
    grid-row: 4;
    background-color: blueviolet;
}

.six {
    grid-column: 3;
    grid-row: 4;
    background-color: blueviolet;
}