:root {
    --space-cadet: #222e50;
    --cerulean: #007991;
    --azure-web: #cddddd;
    --bright-pink-crayola: #ed6e85;
    --cardinal: #bb2532;
    --navBar-height: 7vh;
}


body {
    background-color: var(--azure-web);
    margin: 0px;
}


h1 {
    color: var(--cerulean);
}

img {
    margin: 0px;
}

.welcomeText {
    margin-bottom: 5px;
    margin-top: var(--navBar-height);
    font-size: 30px; 
    height: 34px;
}

.bottom {
    margin: 0px;
    width: 100%;
    background-color: var(--cerulean);
    position: relative;
    bottom: 5px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.wave {
    background-color: var(--cerulean);
    width: 100%;

    display: flex;
    flex-direction: row;
    gap: 0px;

    padding-top: 40px;
}

.photo {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pictureText {
    transform: rotate(30deg);
    height: auto;

    position: relative;
    top: -30px;
    left: -25%;

    background-color: var(--bright-pink-crayola);
    padding: 5px 10px;
    border-radius: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-right: 20px;
}

.aboutMe {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

a {
    text-decoration: none;
}

.socialLinks {
    display: flex;
    flex-direction: row;

    align-items: start;
    align-self: top;

    gap: 7px;
}

@media all and (max-width: 500px) {
    .wave {
        display: flex;
        flex-direction: column;
        
        padding-top: 100px;
    }

    .photo {
        width: 100%;
    }

    .text {
        width: calc(100% - 40px);

        margin-left: 20px;
        margin-right: 20px;

        text-align: center;
    }
}



/* Font */ 
.mukta-light {
    font-family: "Mukta", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.mukta-regular, body {
    font-family: "Mukta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.mukta-medium {
    font-family: "Mukta", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.mukta-semibold {
    font-family: "Mukta", sans-serif;
    font-weight: 600;
    font-style: normal;
}