:root {
    --space-cadet: #222e50;
    --cerulean: #007991;
    --azure-web: #cddddd;
    --bright-pink-crayola: #ed6e85;
    --cardinal: #bb2532;
    --navBar-height: 7vh;
}


body {
    background-color: var(--azure-web);
    margin: 0px;
}


h1 {
    color: var(--cerulean);
}

img {
    margin: 0px;
}

.welcomeText {
    margin-bottom: 5px;
    margin-top: var(--navBar-height);
    font-size: 30px; 
    height: 34px;
}

.navBar {
    width: 100%;
    height: var(--navBar-height);
    background-color: var(--cerulean);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
}

.navBarParts {
    width: 50%;
}

.navBarParts.part1 {
    margin-left: 15px;
    color: var(--space-cadet);
}

.navBarParts.part2 {
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: right;

    margin-right: 15px;
    gap: 10px;

    color: var(--space-cadet);
}

.navBarParts.part2 h4 {
    margin-bottom: 0px;
    margin-top: 0px;

    height: var(--navBar-height);
    display: flex;
    align-items: center;
}

.LogoText {
    margin-top: 0px;
    margin-bottom: 0px;

    display: flex;
    align-items: center;
    height: var(--navBar-height);

    color: var(--space-cadet);
}

.navBarText {
    float: right;
}

.bottom {
    margin: 0px;
    width: 100%;
    background-color: var(--cerulean);
    position: relative;
    bottom: 5px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.wave {
    background-color: var(--cerulean);
    width: 100%;
    height: 500px;

    display: flex;
    flex-direction: row;
    gap: 0px;
}

.photo {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pictureText {
    transform: rotate(30deg);
    height: auto;

    position: relative;
    top: -30px;
    left: -130px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.aboutMe {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.bentoBox {
    display: grid;
    grid-template-columns: minmax(100px, auto);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.one {
    grid-column: 1;
    grid-row: 1;
    background-color: var(--cerulean);
}

.two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    background-color: var(--cerulean);
    opacity: 100%;
}

.three {
    grid-column: 1;
    grid-row: 2 / 5;
    background-color: var(--cerulean);
}

.four {
    grid-column: 3;
    grid-row: 3;
    background-color: var(--cerulean);
}

.five {
    grid-column: 2;
    grid-row: 4;
    background-color: var(--cerulean);
}

.six {
    grid-column: 3;
    grid-row: 4;
    background-color: var(--cerulean);
}

/* Font */ 
.mukta-light {
    font-family: "Mukta", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.mukta-regular, body {
    font-family: "Mukta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.mukta-medium {
    font-family: "Mukta", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.mukta-semibold {
    font-family: "Mukta", sans-serif;
    font-weight: 600;
    font-style: normal;
}