.menu {
    width: 100%;
    height: 93vh;
    position: absolute;
    top: 7vh;
    left: 0px;
    background-color: #cddddd;

    display: flex;
    justify-content: right;
    align-items: right;
    text-align: right;
    flex-direction: column;
}

.noMenu { 
    display: none;
}

.yesMenu {
    display: flex;
}

.menuContent {
    display: flex;
    text-align: right;
    flex-direction: column;

    margin-right: 30px;
}

.menuContent a {
    text-decoration: none;
    color: #222e50;
}

.menuText {
    margin-top: 5px;
    margin-bottom: 5px;

    text-align: right;
}

.navBar {
    width: 100%;
    height: var(--navBar-height);
    background-color: var(--cerulean);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
}

.navBarParts {
    width: 50%;
}

.navBarParts.part1 {
    margin-left: 15px;
    color: var(--space-cadet);
}

.navBarParts.part2 {
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: right;

    margin-right: 15px;
    gap: 10px;

    color: var(--space-cadet);
}

.navBarParts.part2 h4 {
    margin-bottom: 0px;
    margin-top: 0px;

    height: var(--navBar-height);
    display: flex;
    align-items: center;
}

.navBarParts.part2 a {
    text-decoration: none;
    color: var(--space-cadet);
}

.LogoText {
    margin-top: 0px;
    margin-bottom: 0px;

    display: flex;
    align-items: center;
    height: var(--navBar-height);

    color: var(--space-cadet);
}

.navBarText {
    float: right;
}

.navBarParts.part3 {
    display: none;
    flex-direction: row;
    text-align: right;
    justify-content: right;

    margin-right: 15px;
    gap: 10px;

    color: var(--space-cadet);
}

@media all and (max-width: 500px) {
    .navBarParts.part2 {
        display: none;
    }

    .navBarParts.part3 {
        display: flex;
    }
}