:root {
    --space-cadet: #222e50;
    --cerulean: #007991;
    --azure-web: #cddddd;
    --bright-pink-crayola: #ed6e85;
    --cardinal: #bb2532;
    --navBar-height: 7vh;
}


body {
    background-color: var(--azure-web);
    margin: 0px;
}

.bentoBox {
    display: grid;
    grid-template-columns: 33% auto;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);

    margin: 10px;
    margin-top: 20px;

    /*height: 150vh;*/
}

.item {
    border-radius: 15px;
    background-color: var(--cerulean);

    display: flex;
    flex-direction: column;
}

.item.four {
    display: flex;
    flex-direction: column;
}

.pointer {
    cursor: pointer;
}

.prevent-select {
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.one {
    grid-column: 1;
    grid-row: 1;
}

.two {
    grid-column: 1;
    grid-row: 2 / 4;
}


.three {
    grid-column: 2/3;
    grid-row: 1 / 3;
}

.four {
    grid-column: 2/4;
    grid-row: 3;
}

.v-four {
    background-color: var();
}

.five {
    grid-column: 3;
    grid-row: 1/3;
}

/*
.six {
    grid-column: 3;
    grid-row: 2;
}
*/

/* BentoBox Mobile */
@media all and (max-width: 500px) {
    .bentoBox {
        display: flex;
        flex-direction: column;
    }

    .four {
        display: none;
    }

    .v-four {
        display: flex;
    }
}

@media all and (min-width: 500px) {
    .v-four {
        display: none;
    }
}

.header {
    width: 100%;
    height: 30px;

    margin-top: 5px;

    display: flex;
    flex-direction: row;
    gap: 0px;
    padding: 0px;
}

.h.part1 {
    width: 50%;
    height: 30px;

    margin-left: 7px;
}

.h.part2 {
    width: 50%;
    height: 30px;

    display: flex;
    flex-direction: row;
    gap: 3px;
    justify-content: right;
    align-items: center;

    margin-right: 7px;
}

a {
    display: flex;
    align-items: center;
}

.imagePro {
    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.transition {
    position: relative;
    top: -12%;

    background-image: linear-gradient(rgba(0, 121, 145, 0), rgba(0, 121, 145, 100));
    width: 100px;
    height: 20px;
}

.content {
    margin: 10px;
    font-size: 75%;
}

